.wrapper{
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

html {
    font-size: 125%;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

p{
    font-family: 'Barlow', sans-serif;
    line-height: 28px;
}

img{
    max-width: 100%;
}