.info{
    background-color: #2B331B;

    .wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    h2{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 50px;
        font-weight: 400;
        margin: 0;
    }
    p{
        color: white;
    }

    i{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        color: black;
        font-size: 25px;
    }
    
    .infoContainer{
    width: calc(50% - 10px);
    margin: 0 5px;
    display: flex;
    }


    .infoContainer1, .infoContainer2{
    margin-top: 250px;
    margin-bottom: 50px;
    }

    .infoContainer3, .infoContainer4{
    margin-bottom: 150px;
    }
}

.about{
    background-color: #171B0E;
    position: relative;

    .left{
        width: 40%;
        height: 52.5%;
        position: absolute;
        top: -50px;
    }

    .right{
        width: 41%;
        height: 53%;
        position: absolute;
        bottom: -50px;
        right: 0;
    }

    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    h3{
        font-size: 38px;
        font-weight: 400;
        margin: 0;
    }

    button{
        background-color: $primary;
        border: none;
        padding: 12px;
        letter-spacing: 1px;
    }

    .aboutContainer1, .aboutContainer2{
        margin-bottom: 100px;
    }

    .aboutContainer2{
        margin-top: 100px;
    }

    .aboutContainer3{
        margin-bottom: 100px;
    }

    .aboutContainer1,
    .aboutContainer2,
    .aboutContainer3,
    .aboutContainer4{
        width: 40%;
    }
    .yellowBox1{
    width: 39.5%;
    height: 50.5%;
    background-color: $primary;
    position: absolute;
    left: 30px;
    top: -12px;
    }
    .yellowBox2{
        width: 40.5%;
        height: 50.5%;
        background-color: $primary;
        position: absolute;
        right: 25px;
        bottom: -68px;
    }
    // .aboutContainer2, .aboutContainer3{
    //     padding: 80px;
    // }
    .aboutContainer3{
        text-align: right;
    }
}

.win{
    background-color: $pine;

    .wrapper{
        padding: 150px 90px;
        display: flex;
        flex-direction: column;
    }

    h3{
        color: $primary;
        font-size: 2rem;
        text-align: center;
        margin: 0;
    }

    button{
        margin: 0 auto;
    }
}

.banner img{
    width: 100%;
}

.info2{
    h3{
        color: $primary;
        font-size: 2rem;
        font-weight: 400;
    }
    background-color: $pine;
    padding: 120px 0;
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .info2Left{
        width: 27%;
        margin-right: 7%;
        display: flex;
        align-items: center;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            z-index: 1;

        }
        .yellowBox3{
            width: 100%;
            height: 100%;
            background-color: $primary;
            position: absolute;
            bottom: -20px;
            left: -20px;
        }
    }
    .info2Right{
        width: 71%;
        h3{
            margin: 0;
        }
    }
}

.gallery{
    background-color: $almostblack;
    padding: 100px 0;

    .wrapper{
        display: flex;
        justify-content: space-between;
    }

    img{
        width: 31%;
    }
}

.findOutMore{
    color: white;
    background-color: black;
    padding: 13px 20px;
    border: none;
}




// BLOG SECTIONS

.blogInfo{
    background-color: $pine;
    position: relative;

    .waitressImg{
        width: 60%;
        height: 646px;
        position: absolute;
        top: -264px;
        right: 0;
        box-shadow: -20px 20px $primary;
    }

    .sideImg{
        width: 30%;
        height: 433px;
        position: absolute;
        top: -15px;
    }

    .blogBox{
        margin-top: 100px;
        h3{
            color: $primary;
        }
        width: 25%;
        min-height: 900px;
        background-color: $almostblack;
        padding: 420px 30px 0 30px;
        margin-left: 6%;

        ul{
            padding-left: 20px;
        }

        li{
            margin: 10px 0;
        }

        .blogBoxTop{
            margin-bottom: 100px;
        }
    }
    
    .employment{
        width: calc(60% + 20px);
        position: absolute;
        right: 0;
        top: 385px;
        padding: 90px;
        border-left: 3px solid $primary;
        border-bottom: 3px solid $primary;
    }
}