html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #2B331B;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

html {
  font-size: 125%;
  letter-spacing: 1px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

p {
  font-family: "Barlow", sans-serif;
  line-height: 28px;
  letter-spacing: 1px;
}

img {
  max-width: 100%;
}

button {
  letter-spacing: 1px;
}

li {
  font-family: "Barlow", sans-serif;
  letter-spacing: 1px;
}

.homeHeader {
  height: 80vh;
  background-image: url(../../the-restaurant-mall-assets/home-header.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.homeHeader img {
  width: 52%;
  position: absolute;
  right: 0;
  bottom: -217px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 50px 0;
}

a {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  text-decoration: none;
  margin: 0 20px;
  padding: 5px 0;
}

a:hover {
  border-bottom: 3px solid #FFD300;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
}

span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  background-color: white;
  color: black;
  height: 85px;
  margin-bottom: 10px;
}

.blogHeader {
  height: 578px;
  background-image: url(../../the-restaurant-mall-assets/blog-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blogHeader nav ul {
  padding: 75px 0;
}
.blogHeader a {
  margin: 0;
  margin-right: 40px;
}
.blogHeader img {
  position: absolute;
  right: 0;
  bottom: -130px;
}

.contactHeader {
  height: 567px;
  background-size: cover;
  background-position: center;
  background-image: url(../../the-restaurant-mall-assets/contact-header.jpg);
}
.contactHeader h1 {
  font-weight: 400;
  font-size: 3rem;
  margin-left: 30px;
}

.info {
  background-color: #2B331B;
}
.info .wrapper {
  display: flex;
  flex-wrap: wrap;
}
.info h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
}
.info p {
  color: white;
}
.info i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFD300;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: black;
  font-size: 25px;
}
.info .infoContainer {
  width: calc(50% - 10px);
  margin: 0 5px;
  display: flex;
}
.info .infoContainer1, .info .infoContainer2 {
  margin-top: 250px;
  margin-bottom: 50px;
}
.info .infoContainer3, .info .infoContainer4 {
  margin-bottom: 150px;
}

.about {
  background-color: #171B0E;
  position: relative;
}
.about p {
  margin: 10px 0 40px 0;
}
.about .left {
  width: 40%;
  height: 52.5%;
  position: absolute;
  top: -50px;
}
.about .right {
  width: 41%;
  height: 53%;
  position: absolute;
  bottom: -50px;
  right: 0;
}
.about .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about h3 {
  font-size: 38px;
  font-weight: 400;
  margin: 0;
}
.about button {
  background-color: #FFD300;
  border: none;
  padding: 12px;
  letter-spacing: 1px;
}
.about .aboutContainer1, .about .aboutContainer2 {
  margin-bottom: 100px;
}
.about .aboutContainer2 {
  margin-top: 100px;
}
.about .aboutContainer3 {
  margin-bottom: 100px;
}
.about .aboutContainer1,
.about .aboutContainer2,
.about .aboutContainer3,
.about .aboutContainer4 {
  width: 40%;
}
.about .yellowBox1 {
  width: 39.5%;
  height: 50.5%;
  background-color: #FFD300;
  position: absolute;
  left: 30px;
  top: -12px;
}
.about .yellowBox2 {
  width: 40.5%;
  height: 50.5%;
  background-color: #FFD300;
  position: absolute;
  right: 25px;
  bottom: -68px;
}
.about .aboutContainer3 {
  text-align: right;
}

.win {
  background-color: #2B331B;
}
.win .wrapper {
  padding: 150px 90px;
  display: flex;
  flex-direction: column;
}
.win h3 {
  color: #FFD300;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}
.win button {
  margin: 0 auto;
}

.banner img {
  width: 100%;
}

.info2 {
  background-color: #2B331B;
  padding: 120px 0;
}
.info2 h3 {
  color: #FFD300;
  font-size: 2rem;
  font-weight: 400;
}
.info2 .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info2 .info2Left {
  width: 27%;
  margin-right: 7%;
  display: flex;
  align-items: center;
  position: relative;
}
.info2 .info2Left img {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.info2 .info2Left .yellowBox3 {
  width: 100%;
  height: 100%;
  background-color: #FFD300;
  position: absolute;
  bottom: -20px;
  left: -20px;
}
.info2 .info2Right {
  width: 71%;
}
.info2 .info2Right h3 {
  margin: 0;
}

.gallery {
  background-color: #171B0E;
  padding: 100px 0;
}
.gallery .wrapper {
  display: flex;
  justify-content: space-between;
}
.gallery img {
  width: 31%;
}

.findOutMore {
  color: white;
  background-color: black;
  padding: 13px 20px;
  border: none;
}

.blogInfo {
  background-color: #2B331B;
  position: relative;
  display: flex;
  justify-content: right;
}
.blogInfo .waitressImg {
  width: 60%;
  height: 646px;
  position: absolute;
  top: -164px;
  right: 0;
  box-shadow: -20px 20px #FFD300;
}
.blogInfo .sideImg {
  width: 30%;
  height: 433px;
  position: absolute;
  left: 0;
  top: 84px;
  z-index: 1;
}
.blogInfo .blogBox {
  width: 25%;
  min-height: 900px;
  background-color: #171B0E;
  padding: 420px 30px 0 30px;
  margin-left: 6%;
  position: absolute;
  top: 100px;
  left: 0;
}
.blogInfo .blogBox h3 {
  color: #FFD300;
}
.blogInfo .blogBox ul {
  padding-left: 20px;
}
.blogInfo .blogBox li {
  margin: 10px 0;
}
.blogInfo .blogBox .blogBoxTop {
  margin-bottom: 70px;
}
.blogInfo .employment {
  width: calc(60% + 20px);
  margin-top: 450px;
  padding: 90px;
  border-left: 3px solid #FFD300;
  border-bottom: 3px solid #FFD300;
}
.blogInfo .employment h2 {
  color: #FFD300;
}

.comments {
  display: flex;
  justify-content: right;
}
.comments h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}
.comments h4 {
  color: #FFD300;
  font-family: "Barlow", sans-serif;
  margin: 0;
}
.comments .commentsWrap {
  width: 60%;
  padding: 90px 90px 90px 70px;
}
.comments .commentBox1 {
  margin-bottom: 80px;
}
.comments .commentBox1, .comments .commentBox2 {
  display: flex;
}
.comments .commentBox1 img, .comments .commentBox2 img {
  width: 100px;
  height: 100px;
  margin-right: 40px;
}
.comments .blogForm {
  margin-top: 80px;
}
.comments .blogForm #name {
  width: calc(50% - 20px);
  color: white;
  background-color: #2B331B;
  padding: 25px;
  border: none;
  border-bottom: 2px solid #FFD300;
  margin-right: 32px;
}
.comments .blogForm #email {
  width: calc(50% - 20px);
  color: white;
  background-color: #2B331B;
  padding: 25px;
  border: none;
  border-bottom: 2px solid #FFD300;
}
.comments .blogForm #comment {
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  background-color: #2B331B;
  color: white;
  border: 2px solid #FFD300;
}
.comments .blogForm button {
  width: 100%;
  margin-top: 30px;
  background-color: #FFD300;
  border: none;
  padding: 15px;
}

.contactInfo {
  position: relative;
  margin-bottom: 200px;
}
.contactInfo i {
  color: #FFD300;
  margin-right: 20px;
}
.contactInfo .contactInfoBox {
  margin-top: 100px;
}
.contactInfo .contactInfoBox p {
  margin: 0;
}
.contactInfo .contactInfoBox .space {
  margin: 20px 0 30px 0;
}
.contactInfo .contactFormWrap {
  width: 60%;
  padding: 50px 60px 50px 60px;
  background-color: #171B0E;
  position: absolute;
  top: -308px;
  right: 90px;
  box-shadow: 20px 20px #FFD300;
}
.contactInfo .contactForm #name {
  width: calc(50% - 20px);
  color: white;
  background-color: #171B0E;
  padding: 25px;
  border: none;
  border-bottom: 2px solid #FFD300;
  margin-right: 32px;
  letter-spacing: 1px;
}
.contactInfo .contactForm #email {
  width: calc(50% - 20px);
  color: white;
  background-color: #171B0E;
  padding: 25px;
  border: none;
  border-bottom: 2px solid #FFD300;
  letter-spacing: 1px;
}
.contactInfo .contactForm #comment {
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  background-color: #171B0E;
  color: white;
  border: 2px solid #FFD300;
  letter-spacing: 1px;
}
.contactInfo .contactForm button {
  width: 100%;
  margin-top: 30px;
  background-color: #FFD300;
  border: none;
  padding: 15px;
}

footer {
  background-color: black;
}
footer p {
  margin: 0;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */